<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>org.restlet.application</param-name>
        <param-value>serveurRestlet.RestletApplication</param-value>
    </context-param>
    <servlet>
        <servlet-name>ServletWineFood</servlet-name>
        <servlet-class>controlleur.ServletWineFood</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletReponseAJAX</servlet-name>
        <servlet-class>controlleur.ServletReponseAJAX</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>serveurRestlet</servlet-name>
        <servlet-class>controlleur.serveurRestlet</servlet-class>
        <init-param> 
        <param-name>org.restlet.application</param-name>
        <param-value>serveurRestlet.RestletApplication</param-value> 
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletWineFood</servlet-name>
        <url-pattern>/ServletWineFood</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletReponseAJAX</servlet-name>
        <url-pattern>/ServletReponseAJAX</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>serveurRestlet</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>ServletWineFood</welcome-file>
    </welcome-file-list>
</web-app>
