/* 
    Document   : index
    Created on : 30 mai 2012, 15:38:55
    Author     : admin
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#wine{
    background-color: red;
    float: left;
    width: 42%;
        
}

#food{
    background-color: blue;
    float:left;
    width:47%;
    
}

#associer{
    float: left;
    width:10%;
    text-align: center;
}

#search{
    background-color: white;
    width: 100%;
    heigth:20px;
    text-align: center;
}

#gg{
    width:50%;
    float:left;
    background-color: pink;
        
}

#gd{
   width:50%;
   float:left;
   background-color: yellow;
}
#dg{
    width:50%;
    float:left;
    background-color: yellow;
}

#dd{
   width:50%;
   float:left;
   background-color: pink;
}

#buttonWineResponse{
    width: 250px;
}